<div class="wrapper">
    <TopNavbar />

    <div class="container" style="margin-top: 3px;">
        <div class="shopping-cart">
            <div class="px-4 px-lg-0">
                <div class="pb-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">Checkout</span>
                                    <span class="badge bg-primary rounded-pill">{{count}}</span>
                                  </h4>
                                <div class="table-responsive border rounded">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="border-0 bg-light" scope="col">
                                                    <div class="p-2 px-3 ">Producto</div>
                                                </th>
                                                <th class="border-0 bg-light" scope="col">
                                                    <div class="py-2 ">Precio</div>
                                                </th>
                                                <th class="border-0 bg-light" scope="col">
                                                    <div class="py-2 ">Cantidad</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody v-for="item in contents">
                                            <tr>
                                                <th class="border-0" scope="row">
                                                    <div class="p-2">
                                                        <img :src="item.foto" alt="" width="70" class="img-fluid rounded shadow-sm">
                                                        <div class="ml-3 d-inline-block align-middle">
                                                            <h5 class="mb-0">
                                                                <a href="#" class="text-dark d-inline-block align-middle">{{ item.nombre }}</a>
                                                            </h5>
                                                            <span class="text-muted
                                                            font-weight-normal font-italic d-block">Marca: {{ item.marca }}</span>
                                                        </div>
                                                    </div>
                                                </th>
                                                <td class="border-0 align-middle">
                                                    <strong>{{ currency.symbol }} {{ item.precio }}</strong>
                                                </td>
                                                <td class="border-0 align-middle">
                                                    <strong>{{ item.quantity }}</strong>
                                                </td>
                                                <!-- <td class="border-0 align-middle">
                                                    <button @click="removeFromCart(item.id)" class="btn btn-danger">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        

                        <div class="row py-5 p-4 bg-white rounded shadow-sm">
                            <div class="col-lg-6">
                                <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Resumen de la orden </div>
                                <div class="p-4">
                                    <ul class="list-unstyled mb-4">
                                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Subtotal </strong><strong>{{currency.symbol}}{{subtotal}}</strong></li>
                                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Envio</strong><strong>$1500</strong></li>
                                        <li class="d-flex justify-content-between py-3"><strong class="text-muted"></strong><strong></strong></li>
                                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                                            <h5 class="font-weight-bold">{{currency.symbol}}{{total}}</h5>
                                        </li>
                                    <!-- if user is not logged, take to login -->
                                    <li v-if="!isLoggedIn" class="d-flex justify-content-between py-3 border-bottom">
                                        <strong class="text-muted">Inicia sesión para comprar</strong>
                                        <router-link to="/login" class="btn btn-primary">Iniciar sesión</router-link>
                                    </li>
                                    <!-- if user is logged, take to checkout -->
                                    <li v-else class="d-flex justify-content-between py-3 border-bottom">
                                        <button class="btn btn-dark rounded-pill py-2 btn-block" @click="createPedido">Completar compra</button>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Datos de envio</div>
                                <div class="p-4">
                                    <div class="input-group mb-4 border rounded-pill p-2">
                                        <input class="form-control border-0" type="text" placeholder="Nombre y Apellido" aria-describedby="button-addon3" v-model="nombre" />
                                    </div>
                                    <div class="input-group mb-4 border rounded-pill p-2">
                                        <input class="form-control border-0" type="text" placeholder="Direccion" aria-describedby="button-addon3" v-model="direccion" />
                                    </div>
                                    <div class="input-group mb-4 border rounded-pill p-2">
                                        <input class="form-control border-0" type="text" placeholder="Ciudad" aria-describedby="button-addon3" v-model="ciudad" />
                                    </div>
                                    <div class="input-group mb-4 border rounded-pill p-2">
                                        <input class="form-control border-0" type="text" placeholder="Provincia" aria-describedby="button-addon3" v-model="provincia" />
                                    </div>
                                    <div class="input-group mb-4 border rounded-pill p-2">
                                        <input class="form-control border-0" type="text" placeholder="Pais" aria-describedby="button-addon3" v-model="pais" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <BottonFooter />
</div>